In [13]:
import pandas as pd
import numpy as np

DATA_PATH ="/Users/kriti/Desktop/f1-podium-predictor/data/raw/"

races = pd.read_csv(DATA_PATH + "races.csv")
results = pd.read_csv(DATA_PATH + "results.csv")
qualifying = pd.read_csv(DATA_PATH + "qualifying.csv")
drivers = pd.read_csv(DATA_PATH + "drivers.csv")
constructors = pd.read_csv(DATA_PATH + "constructors.csv")
pit_stops = pd.read_csv(DATA_PATH + "pit_stops.csv")

In [18]:
#checking data
print("Races:", races.shape)
print("Results:", results.shape)
print("Qualifying:", qualifying.shape)
print("Drivers:", drivers.shape)
print("Constructors:", constructors.shape)
print("Pit Stops:", pit_stops.shape)


races[['raceId','year','round','circuitId']].head()

Races: (1149, 18)
Results: (27238, 18)
Qualifying: (10973, 9)
Drivers: (864, 9)
Constructors: (212, 5)
Pit Stops: (12192, 7)

   raceId  year  round  circuitId
0       1  2009      1          1
1       2  2009      2          2
2       3  2009      3         17
3       4  2009      4          3
4       5  2009      5          4

In [15]:
results[['raceId','driverId','constructorId','grid','positionOrder','statusId']].head()

   raceId  driverId  constructorId grid  positionOrder  statusId
0      18         1              1    1              1         1
1      18         2              2    5              2         1
2      18         3              3    7              3         1
3      18         4              4   11              4         1
4      18         5              1    3              5         1

In [17]:
qualifying[['raceId','driverId','position','q1','q2','q3']].head()

   raceId  driverId  position        q1        q2        q3
0      18         1         1  1:26.572  1:25.187  1:26.714
1      18         9         2  1:26.103  1:25.315  1:26.869
2      18         5         3  1:25.664  1:25.452  1:27.079
3      18        13         4  1:25.994  1:25.691  1:27.178
4      18         2         5  1:25.960  1:25.518  1:27.236

In [ ]:
#Filtering year from 2014 - new upgrades.

In [21]:
START_YEAR = 2014

modern_races = races[races["year"] >= START_YEAR].copy()
modern_race_ids = set(modern_races["raceId"])

results = results[results["raceId"].isin(modern_race_ids)].copy()
qualifying = qualifying[qualifying["raceId"].isin(modern_race_ids)].copy()
pit_stops = pit_stops[pit_stops["raceId"].isin(modern_race_ids)].copy()

print("Modern races:", modern_races.shape)
print("Results:", results.shape)
print("Qualifying:", qualifying.shape)
print(qualifying["raceId"].nunique()) # = count of races = 252

Modern races: (252, 18)
Results: (5105, 18)
Qualifying: (5089, 9)
252

In [ ]:
#cleaning data

In [26]:
results["grid"] = pd.to_numeric(results["grid"], errors="coerce") #converts string to int

results = results[
    (results["grid"] > 0) &
    (results["positionOrder"].notna())
].copy()

print("Results after cleaning:", results.shape)

qualifying = qualifying[
    qualifying["position"].notna()
].copy()

print("Qualifying after cleaning:", qualifying.shape)

Results after cleaning: (5006, 18)
Qualifying after cleaning: (5089, 9)
Unique races in results: 251
Unique races in qualifying: 252

In [27]:
drivers_per_race = results.groupby("raceId")["driverId"].nunique()
drivers_per_race.describe()

count    251.000000
mean      19.944223
std        1.045407
min       16.000000
25%       20.000000
50%       20.000000
75%       20.000000
max       22.000000
Name: driverId, dtype: float64

In [32]:
#CREATING PUDIUM TARGET - WE NEED <3 POSITION TO BE IN THE NEW COLUMN = PODIUM --> 0 is not podium and 1 is podium
results["positionOrder"] = pd.to_numeric(
    results["positionOrder"], errors="coerce"
)
results["podium"] = (results["positionOrder"] <= 3).astype(int)
results[["raceId", "driverId", "positionOrder", "podium"]].head(10)

       raceId  driverId  positionOrder  podium
22127     900         3              1       1
22128     900       825              2       1
22129     900        18              3       1
22130     900         4              4       0
22131     900       822              5       0
22132     900       807              6       0
22133     900         8              7       0
22134     900       818              8       0
22135     900       826              9       0
22136     900       815             10       0

In [33]:
results["podium"].value_counts(normalize=True)

0    0.849581
1    0.150419
Name: podium, dtype: float64

In [35]:
#Creating a new table which holds all our required data in one.

results_base = results[
    [
        "raceId",
        "driverId",
        "constructorId",
        "positionOrder",
        "podium"
    ]
].copy()

qualifying_base = qualifying[
    [
        "raceId",
        "driverId",
        "position",
        "q1",
        "q2",
        "q3"
    ]
].copy()

qualifying_base["position"] = pd.to_numeric(
    qualifying_base["position"], errors="coerce"
)

base_df = results_base.merge(
    qualifying_base,
    on=["raceId", "driverId"],
    how="inner"
)

base_df = base_df.merge(
    modern_races[["raceId", "year", "round", "circuitId"]],
    on="raceId",
    how="left"
)

base_df = base_df.merge(
    drivers[["driverId", "forename", "surname"]],
    on="driverId",
    how="left"
)

base_df = base_df.merge(
    constructors[["constructorId", "name"]],
    on="constructorId",
    how="left",
    suffixes=("", "_constructor")
)
base_df = base_df.rename(columns={
    "position": "qualifying_position",
    "name": "constructor_name"
})

In [36]:
base_df.head()

,raceId,driverId,constructorId,positionOrder,podium,qualifying_position,q1,q2,q3,year,round,circuitId,forename,surname,constructor_name
0,900,3,131,1,1,3,1:32.564,1:42.264,1:44.595,2014,1,1,Nico,Rosberg,Mercedes
1,900,825,1,2,1,4,1:30.949,1:43.247,1:45.745,2014,1,1,Kevin,Magnussen,McLaren
2,900,18,1,3,1,11,1:31.396,1:44.437,\N,2014,1,1,Jenson,Button,McLaren
3,900,4,6,4,0,5,1:31.388,1:42.805,1:45.819,2014,1,1,Fernando,Alonso,Ferrari
4,900,822,3,5,0,10,1:31.601,1:43.852,1:48.147,2014,1,1,Valtteri,Bottas,Williams

In [38]:
base_df.isna().sum().sort_values(ascending=False)

raceId                 0
driverId               0
constructorId          0
positionOrder          0
podium                 0
qualifying_position    0
q1                     0
q2                     0
q3                     0
year                   0
round                  0
circuitId              0
forename               0
surname                0
constructor_name       0
dtype: int64

In [40]:
#Adding features for drivers
base_df = base_df.sort_values(
    by=["driverId", "year", "round"]
).reset_index(drop=True)
base_df.head()

,raceId,driverId,constructorId,positionOrder,podium,qualifying_position,q1,q2,q3,year,round,circuitId,forename,surname,constructor_name
0,900,1,131,19,0,1,1:31.699,1:42.890,1:44.231,2014,1,1,Lewis,Hamilton,Mercedes
1,901,1,131,1,1,1,1:57.202,1:59.041,1:59.431,2014,2,2,Lewis,Hamilton,Mercedes
2,902,1,131,1,1,2,1:35.323,1:33.872,1:33.464,2014,3,3,Lewis,Hamilton,Mercedes
3,903,1,131,1,1,1,1:55.516,1:54.029,1:53.860,2014,4,17,Lewis,Hamilton,Mercedes
4,904,1,131,1,1,1,1:27.238,1:26.210,1:25.232,2014,5,4,Lewis,Hamilton,Mercedes

In [43]:
#creating new column prev_race_finish to add prev race finish to that row

base_df["prev_race_finish"] = (
    base_df
    .groupby("driverId")["positionOrder"]
    .shift(1) # basically taking position order and shifting 1 downwards
)
base_df[
    ["driverId", "year", "round", "positionOrder", "prev_race_finish"]
].head(10)

   driverId  year  round  positionOrder  prev_race_finish
0         1  2014      1             19               NaN
1         1  2014      2              1              19.0
2         1  2014      3              1               1.0
3         1  2014      4              1               1.0
4         1  2014      5              1               1.0
5         1  2014      6              2               1.0
6         1  2014      7             17               2.0
7         1  2014      8              2              17.0
8         1  2014      9              1               2.0
9         1  2014     10              3               1.0

In [45]:
# creating new column to calculate avg position finished in last 5 races
N = 5

base_df["rolling_avg_finish"] = (
    base_df
    .groupby("driverId")["positionOrder"]
    .shift(1)
    .rolling(window=N, min_periods=1)
    .mean()
)
base_df[
    ["driverId", "year", "round", "positionOrder", "rolling_avg_finish"]
].head(15)

    driverId  year  round  positionOrder  rolling_avg_finish
0          1  2014      1             19                 NaN
1          1  2014      2              1                19.0
2          1  2014      3              1                10.0
3          1  2014      4              1                 7.0
4          1  2014      5              1                 5.5
5          1  2014      6              2                 4.6
6          1  2014      7             17                 1.2
7          1  2014      8              2                 4.4
8          1  2014      9              1                 4.6
9          1  2014     10              3                 4.6
10         1  2014     11              3                 5.0
11         1  2014     12             19                 5.2
12         1  2014     13              1                 5.6
13         1  2014     14              1                 5.4
14         1  2014     15              1                 5.4

In [47]:
# new column - probablity of podium in last 5 races
base_df["rolling_podium_rate"] = (
    base_df
    .groupby("driverId")["podium"]
    .shift(1)
    .rolling(window=N, min_periods=1)
    .mean()
)
base_df[
    ["driverId", "year", "round", "podium", "rolling_podium_rate"]
].head(15)

    driverId  year  round  podium  rolling_podium_rate
0          1  2014      1       0                  NaN
1          1  2014      2       1             0.000000
2          1  2014      3       1             0.500000
3          1  2014      4       1             0.666667
4          1  2014      5       1             0.750000
5          1  2014      6       1             0.800000
6          1  2014      7       0             1.000000
7          1  2014      8       1             0.800000
8          1  2014      9       1             0.800000
9          1  2014     10       1             0.800000
10         1  2014     11       1             0.800000
11         1  2014     12       0             0.800000
12         1  2014     13       1             0.800000
13         1  2014     14       1             0.800000
14         1  2014     15       1             0.800000

In [56]:
#filling first row for new columns
base_df["prev_race_finish"].fillna(
    base_df["positionOrder"].median(), inplace=True
)

base_df["rolling_avg_finish"].fillna(
    base_df["positionOrder"].median(), inplace=True
)

base_df["rolling_podium_rate"].fillna(0, inplace=True)

base_df.head()

,raceId,driverId,constructorId,positionOrder,podium,qualifying_position,q1,q2,q3,year,round,circuitId,forename,surname,constructor_name,prev_race_finish,rolling_avg_finish,rolling_podium_rate
0,900,1,131,19,0,1,1:31.699,1:42.890,1:44.231,2014,1,1,Lewis,Hamilton,Mercedes,11.0,11.0,0.000000
1,901,1,131,1,1,1,1:57.202,1:59.041,1:59.431,2014,2,2,Lewis,Hamilton,Mercedes,19.0,19.0,0.000000
2,902,1,131,1,1,2,1:35.323,1:33.872,1:33.464,2014,3,3,Lewis,Hamilton,Mercedes,1.0,10.0,0.500000
3,903,1,131,1,1,1,1:55.516,1:54.029,1:53.860,2014,4,17,Lewis,Hamilton,Mercedes,1.0,7.0,0.666667
4,904,1,131,1,1,1,1:27.238,1:26.210,1:25.232,2014,5,4,Lewis,Hamilton,Mercedes,1.0,5.5,0.750000